.container{
    display:flex;
    text-align: center;
    border:1px solid black;
    margin:10px;
    justify-content: space-between;
}
.container img {
    height:150px;
    width:150px;
    margin-right:140px;
}
.cartinfo{
    margin-top:20px;
    margin-right:200px;
}
.action{
    margin-top:50px;
    margin-right:50px;
}