.container{
    background-color: gray;
    display:flex;
    padding:10px;
}

.logo h3{
    margin:0px;
    padding:20px;
}

.navlinks{
    margin-right:20px;
    margin-left:200px;
    padding:20px;
}
.navlinks > span{
    margin-left:40px;
}

